@import "tailwindcss";

@theme {
  /* Fonts */
  --font-vazirmatn: var(--font-vazirmatn);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);

  /* Colors */
  --color-background: var(--background);
  --color-foreground: var(--foreground);
}

@layer components {
  .layout {
    @apply grid min-h-screen grid-rows-[auto_1fr_auto];
  }
}
